<link rel="stylesheet" href="/stylesheets/footer.css">
<footer>
    <p></abbr> <strong>Todos los derechos reservados para la Pizzeria Pino</strong></p>
    <p>Copyrigth <strong>&COPY;</strong> 2020</p>
    <div style="background: white;">
        <img src="/images/libro_clamaciones.3f2af74.png" alt="">
    </div>
</footer>
