<!--******************* PIZZAS ************************-->
<div id="card-main">
  <h3 class="productos">Pizzas</h3>
  <div id="card-content" style="margin-top: 1rem;">
    <div class="row row-cols-1 row-cols-md-4" style="margin: auto; width: 80%;">
      <div class="col mb-4">
        <div class="card h-100">
          <img src="/images/hawaiana.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title card1">Hawaiana</h5>
            <p class="card-text">
              <div id="selector1">
              </div>
              <input style="transform:translateY(23px);width: 90px;" id="cantidad_1" type="number" value="1" placeholder="Cantidad" min="1" class="form-control">
              <div id="p" style="transform:translateY(23px);" >S/.</div> <div id="precio_1" style="margin-left: 25px;"></div>
              ingredientes <br> para la pizza<br><br>
            </p>
           
            <button onclick='addProducto1(1)'
              style="
                position: absolute;
                bottom: 0;
                margin-bottom: 0.2rem;
                margin-top: 0.2rem;
              "
              class="btn btn-primary btn-sm"
            >
            <span id="Mas1"style="background:#ffbc42;color:#ffbc42;">11</span> 
              <img src="/images/add.png" /> Agregar
            </button>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card h-100">
          <img src="/images/pepperoni.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title card2">Pepperoni</h5>
            <p class="card-text">
              <div id="selector2"></div>           
              <input style="transform:translateY(23px); width: 90px;" id="cantidad_2" type="number" value="1" placeholder="Cantidad" min="1" class="form-control">
              <div id="p" style="transform:translateY(23px);" >S/.</div> <div id="precio_2" style="margin-left: 25px;"></div>
              ingredientes <br> para la pizza<br><br>
            </p>
            <button onclick='addProducto1(2)'
              style="
                position: absolute;
                bottom: 0;
                margin-bottom: 0.2rem;
                margin-top: 0.2rem;
              "
              class="btn btn-primary btn-sm"
            >
            <span id="Mas2"style="background:#ffbc42;color:#ffbc42;">11</span>
              <img src="/images/add.png" /> Agregar
            </button>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card h-100">
          <img src="/images/pizza.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title card3">Napolitana</h5>
            <p class="card-text">
              <div id="selector3"></div>              
              <input style="transform:translateY(23px); width: 90px;" id="cantidad_3" type="number" value="1" placeholder="Cantidad" min="1" class="form-control">
              <div id="p" style="transform:translateY(23px);" >S/.</div> <div id="precio_3" style="margin-left: 25px;"></div>
              ingredientes <br> para la pizza<br><br>
            </p>
            <button onclick='addProducto1(3)'
              style="
                position: absolute;
                bottom: 0;
                margin-bottom: 0.2rem;
                margin-top: 0.2rem;
              "
              class="btn btn-primary btn-sm"
            >
            <span id="Mas3"style="background:#ffbc42;color:#ffbc42;">11</span>
              <img src="/images/add.png" /> Agregar
            </button>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card h-100">
          <img src="/images/americana.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title card4">Americana</h5>
            <p class="card-text">
              <div id="selector4"></div>
              <input style="transform:translateY(23px); width: 90px;" id="cantidad_4" type="number" value="1" placeholder="Cantidad" min="1" class="form-control">
              <div id="p" style="transform:translateY(23px);" >S/.</div> <div id="precio_4" style="margin-left: 25px;"></div>
              ingredientes <br> para la pizza<br><br>
            </p>
            <button onclick='addProducto1(4)'
              style="
                position: absolute;
                bottom: 0;
                margin-bottom: 0.2rem;
                margin-top: 0.2rem;
              "
              class="btn btn-primary btn-sm"
            >
            <span id="Mas4"style="background:#ffbc42;color:#ffbc42;">11</span>
              <img src="/images/add.png" /> Agregar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--******************* Espagueti ************************-->
  <h3 class="productos">Spaghetti y Pan al Ajo</h3>
  <div id="card-content" style="margin-top: 1rem;">
    <div class="row row-cols-1 row-cols-md-4" style="margin: auto; width: 80%;">
      <div class="col mb-4">
        <div class="card h-100">
          <img src="/images/Espagueti.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Fetuccini al Alfredo</h5>
            <p class="card-text">
              Precio
            </p>
            <button
              style="
                position: absolute;
                bottom: 0;
                margin-bottom: 0.2rem;
                margin-top: 0.2rem;
              "
              class="btn btn-primary btn-sm"
            >
              <img src="/images/add.png" /> Agregar
            </button>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card h-100">
          <img src="/images/carbonara1.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Spagheti a la Carbonaran</h5>
            <p class="card-text">Precio</p>
            <button
              style="
                position: absolute;
                bottom: 0;
                margin-bottom: 0.2rem;
                margin-top: 0.2rem;
              "
              class="btn btn-primary btn-sm"
            >
              <img src="/images/add.png" /> Agregar
            </button>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card h-100">
          <img src="/images/pan.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Pan al Ajo</h5>
            <p class="card-text">Precio</p>
            <button
              style="
                position: absolute;
                bottom: 0;
                margin-bottom: 0.2rem;
                margin-top: 0.2rem;
              "
              class="btn btn-primary btn-sm"
            >
              <img src="/images/add.png" /> Agregar
            </button>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card h-100">
          <img src="/images/parmesana.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Lasagna Parmesana</h5>
            <p class="card-text">Precio</p>
            <button
              style="
                position: absolute;
                bottom: 0;
                margin-bottom: 0.2rem;
                margin-top: 0.2rem;
              "
              class="btn btn-primary btn-sm"
            >
              <img src="/images/add.png" /> Agregar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--******************* Bebidas ************************-->
  <h3 class="productos">Bebidas</h3>
  <div id="card-content" style="margin-top: 1rem;">
    <div class="row row-cols-1 row-cols-md-4" style="margin: auto; width: 80%;">
      <div class="col mb-4">
        <div class="card h-100">
          <img src="/images/bebida.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Cappuccino</h5>
            <p class="card-text">
              Precio
            </p>
            <button
              style="
                position: absolute;
                bottom: 0;
                margin-bottom: 0.2rem;
                margin-top: 0.2rem;
              "
              class="btn btn-primary btn-sm"
            >
              <img src="/images/add.png" /> Agregar
            </button>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card h-100">
          <img src="/images/bebida.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Cerveza</h5>
            <p class="card-text">Precio</p>
            <button
              style="
                position: absolute;
                bottom: 0;
                margin-bottom: 0.2rem;
                margin-top: 0.2rem;
              "
              class="btn btn-primary btn-sm"
            >
              <img src="/images/add.png" /> Agregar
            </button>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card h-100">
          <img src="/images/bebida.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Jugo de Durazno</h5>
            <p class="card-text">Precio</p>
            <button
              style="
                position: absolute;
                bottom: 0;
                margin-bottom: 0.2rem;
                margin-top: 0.2rem;
              "
              class="btn btn-primary btn-sm"
            >
              <img src="/images/add.png" /> Agregar
            </button>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card h-100">
          <img src="/images/bebida.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Café</h5>
            <p class="card-text">Precio</p>
            <button
              style="
                position: absolute;
                bottom: 0;
                margin-bottom: 0.2rem;
                margin-top: 0.2rem;
              "
              class="btn btn-primary btn-sm"
            >
              <img src="/images/add.png" /> Agregar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
