<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Estilos y Boostrap-->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Cuenta</title>
</head>
<body onload="verInicio()">
    <%- include('header'); -%>

    <%- include('content'); -%>
    <h1 style="margin-top: 250px;">ss<%=data%></h1>
    <!--Scripts-->
    <script src="/javascripts/jquery-3.5.1.slim.min.js"></script>
    <script src="/javascripts/jquery-3.5.1.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/popper.min.js"></script>
    <script src="/javascripts/customer/frmCustomerEdit.js"></script>
</body>
</html>